/* Set all parents to full height */


/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	outline: none;
	margin: 25px 0;
	width: 18px;
	height: 18px;
	border:1px solid #BAE1FA;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background-color: #BAE1FA;
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background-color: #BAE1FA;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}
